/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-description-list-block-description-list {
    // "Float" style variation.
    &.is-style-regular,
    &.is-style-indent-start,
    &.is-style-indent-start-40 {
        dt,
        dd {
            padding: 0;
            margin: 0;
        }
        dt {
            float: unset;
        }
    }
    &.is-style-indent-start {
        dd {
            margin-inline-start: unset;
        }
    }
    &.is-style-indent-start-40 {
        dd {
            margin-inline-start: 40px;
        }
    }
    // Float style variation.
    &.is-style-grid,
    &.is-style-grid-1-2,
    &.is-style-grid-1-4 {
        @media only screen and (min-width: 480px) {
            dt, dd {
                padding: 0;
                margin: 0;
            }
            display: grid;
        }
    }
    &.is-style-grid {
        @media only screen and (min-width: 320px) {
            grid-template-columns: auto auto;
        }
    }
    &.is-style-grid-1-2 {
        @media only screen and (min-width: 320px) {
            grid-template-columns: 1fr 2fr;
        }
    }
    &.is-style-grid-1-4 {
        @media only screen and (min-width: 320px) {
            grid-template-columns: 1fr 4fr;
        }
    }
}
